.rs-modal-bg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
}
.rs-modal {
  position: absolute;
  top: 20vh;
  left: 30vw;
  z-index: 10000;
  .rs-modal-panel {
    border: 1px solid #000000;
    border-radius: 5px;
    .rs-modal-header {
      $titleheight: 38px;
      width: 530px;
      height: $titleheight;
      line-height: $titleheight;
      background-color: rgb(99, 153, 255);
      display: flex;
      .rs-modal-header-text {
        text-align: center;
        width: 480px;
      }
    }
    .rs-modal-body{
      background-color: #ffffff;
    }
    .rs-modal-footer {
      background-color: #ffffff;
      display: flex;
      justify-content: end;
      button{
        margin: 10px;
      }
    }
  }
  .icon {
    padding: 0 15px;
    width: 20px;
    fill: currentColor;
    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
