.modalslot {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  :global {
    .update-progress {
      display: flex;
    }

    .progress-title {
      margin-right: 10px;
    }

    .progress-bar {
      width: 0;
      flex-grow: 1;
    }

    .can-available {
      .new-version-target,.update-progress {
        margin-left: 40px;
      }
    }

    .can-not-available {
      padding: 20px;
      text-align: center;
    }
  }
}